
#menuplanner{
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: raleway;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: #393e46; 
    top: 200px;


    
}

.preupload{
    position: absolute;
    width: 92%;
    height: 800px;
    top: 50px;
    background-color: white;

}

